
DataCamp/R.pdf

Typing/

tcs_edge.pdf

Certificate - Diploma in Smartphone Photography.pdf

Certificate - Diploma in Excel.pdf

Certificate - Diploma in Business English.pdf

Data Science_Internshala.pdf

Kaggle/Intermediate Machine Learning.png

Kaggle/Intro to Machine Learning.png

Kaggle/Python.png

NASSCOM_FoundAI.pdf

Science of Exercise.pdf

Kaggle/

Coursera/Science of Success.pdf

Coursera/Mindshift.pdf

TCS iON Remote Internship backup.pdf

TCS iON Remote Internship~.pdf

New folder/

Originals/
