Typing/

Certificate - Diploma in Smartphone Photography.pdf

Certificate - Diploma in Excel.pdf

Certificate - Diploma in Business English.pdf

Science of Exercise.pdf

Kaggle/

Misc/

Coursera/Science of Success.pdf

Coursera/Mindshift.pdf

TCS iON Remote Internship backup.pdf

TCS iON Remote Internship~.pdf

Originals/